@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  margin: 0;
  background: #fff;
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
}

main {
  margin: 0 auto;
  max-width: 42em;
  padding: 6em 1em 1em;
}

header {
  text-align: center;
  margin: 0 0 8em 0;
}
header > p {
  margin: 0.5em 0;
}

article  {
  margin: 8em 0;
}

article img {
  width: 100%;
}

pre {
  background: #EEE;
  padding: 0.5em;
  font: 0.9em monospace;
  font-weight: 300;    
  overflow: auto;
  tab-size: 2;
}

h1 {
  margin: 0;
  font: inherit;
  font-size: 2.5em;
  font-weight: 100; 
}

h2 {
  margin: 2em 0 1em 0;
  font: inherit;
  font-size: 1.7em;
  font-weight: 100;
}

h3 {
  margin: 1em 0 0.5em 0;
  font: inherit;
  font-size: 1em;
  font-weight: 400;
}

a, a:active, a:focus, a:visited {
  font: inherit;
  color: #00A;
}

p {
  font-weight: 300;
  line-height: 1.4;
  margin: 0.5em 0;
}

.avatar {
  display: block;
  overflow: hidden;
  width: 10em;
  height: 10em;
  border-radius: 5em;
  margin: 0 auto 2em;
}
.avatar img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}