@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(fonts/Roboto-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Roboto-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff2) format('woff2');
}




body {
  margin: 4em 0;
  background: #fff;
  color: #000;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
}

@page {
  size: auto;
  margin: 4em 0em;
}  

@media print {
  body {
    margin: 0;
  }
}

main {
  margin: 0 auto;
  max-width: 42em;
  padding: 2em;
}

header {
  text-align: center;
  margin: 0 0 4em 0;
}
header > p {
  margin: 0.5em 0;
}

article  {
  overflow: hidden;
  margin: 4em 0;
}

article img {
  width: 100%;
}

article section {
  page-break-inside: avoid;
}

pre {
  background: #EEE;
  padding: 0.5em;
  font: 0.9em monospace;
  font-weight: 300;    
  overflow: auto;
  tab-size: 2;
}

h1 {
  margin: 0;
  font: inherit;
  font-size: 2.5em;
  font-weight: 100; 
}

h2 {
  margin: 0 0 1em 0;
  font: inherit;
  font-size: 1.7em;
  font-weight: 100;
}

h3 {
  margin: 2em 0 0em 0;
  font: inherit;
  font-size: 1.2em;
  font-weight: 100;
}

h4 {
  margin: 1.5em 0 0 0;
  font: inherit;
  font-size: 1em;
  font-weight: 400;
}

a, a:active, a:focus, a:visited {
  font: inherit;
  color: #00A;
}

p {
  font-weight: 300;
  line-height: 1.5;
  margin: 0.25em 0 0.5em 0;
}

.avatar {
  display: block;
  overflow: hidden;
  width: 10em;
  height: 10em;
  border-radius: 5em;
  margin: 0 auto 2em;
}
.avatar img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}